/**
 * Import External CSS
 */

@import 'normalize.min.css';

/**
 * Import Fonts
 */

@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway';

/**
 * Global CSS
 */

* {
    font-family: 'Roboto';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway';
}

a,a:link,a:visited {
    outline: none !important;
    text-decoration: none;
    font-family: 'Roboto';
    color: #797979;
}

a:hover {
    color: #27A3D7;
}

body {
    margin: 0;
    padding: 0;
    
}

div.content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 32px 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header {
    height: 96px;
    position: fixed;
    width: 100%;
    background: white;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
}

header .brand {
    display: inline-block;
    font-family: 'Raleway';
    font-size: 32px;
    line-height: 32px;
}

.brand img {
    height: 100%;
    width: auto;
    vertical-align: bottom;
}

div#main {
    padding-top: 96px;
}

/**
 * Primary CSS
 */

/* Sticky Header */

header.sticky {
    height: 64px;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header.sticky div.content {
    padding: 11px 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header.sticky .brand {
    height: 50%;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

#mobile-nav.sticky {
    top: 64px;
    -webkit-transition: top .25s ease;
    transition: top .25s ease;
}

/* Top Navigation */

nav.main-nav {
    float: right;
    display: inline-block;
    height: 100%;
}

nav > ul {
    margin: 0 !important;
    padding: 0 !important;
}

nav > ul > li {
    display: inline-block;
    padding: 10px;
}

nav.main-nav>ul>li.active,
nav.main-nav>ul>li:hover{
    background: #7a7a7a;
    border-radius: 5px
}

nav.main-nav>ul>li.active>a,
nav.main-nav>ul>li:hover>a{
    color: white;
}

/* Mobile Navigation */

#mobile-nav-toggle {
    width: 32px;
    height: 5px;
    display: inline-block;
    float: right;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

#mobile-nav-toggle.open {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

#mobile-nav-toggle:before {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    top: 0px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#mobile-nav-toggle:after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    bottom: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav#mobile-nav {
    display: none;
}

/* Top Div */

div#top {
    background: #27A3D7;
    padding: 5%;
    text-align: center;
}


div#top img {
    width: 50%;
}

/* Footer */

footer .brand img {
    height: 20px;
}

footer .social {
    float: right;
    display: inline-block;
}

footer .social img {
    height: 25px
}

footer .copyright {
    font-size: 12px;
    display: inline-block;
}

@media only screen and (max-width: 975px) {
    #mobile-nav-toggle {
        display: inline-block;
        margin: 16px 0 0 0;
    }
    
    nav.main-nav {
        display: none;
    }
    
    nav#mobile-nav {
        position: fixed;
        width: 100%;
        top: 96px;
        background: grey;
        text-align: center;
        -webkit-transition: top .25s ease;
        transition: top .25s ease;
    }
    
    #mobile-nav li {
        margin: 0 10px;
    }
    
    footer .social {
        float: none;
        display: block;
    }
    
    footer .copyright {
        display: block;
    }
}