/**
 * Import External CSS
 */

@import 'normalize.min.css';

/**
 * Import Fonts
 */

@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

/**
 * Global CSS
 */

* {
    font-family: 'Roboto';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway';
    font-weight: 700;
    color: #5e5e5e;
}

a,a:link,a:visited {
    outline: none !important;
    text-decoration: none;
    font-family: 'Roboto';
    color: #797979;
}

a:hover {
    color: #27A3D7;
}

body {
    margin: 0;
    padding: 0;
    
}

div.content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 32px 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header {
    height: 96px;
    position: fixed;
    width: 100%;
    background: white;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
}

header .brand {
    display: inline-block;
    font-family: 'Raleway';
    font-size: 32px;
    line-height: 32px;
}

.brand img {
    height: 100%;
    width: auto;
    vertical-align: bottom;
}

div#main {
    padding-top: 96px;
}

.section-title {
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.half {
    display: inline-block;
    width: 50%;
}

blockquote {
    border-left: 5px solid #B7B7B7;
    color: #5E5E5E;
    padding-left: 32px;
}

blockquote p:first-of-type:before {
    content: '"';
    display: inine-block;
}

blockquote p {
}

blockquote p:last-of-type:after {
    content: '"';
    display: inline-block;
}

blockquote span {
    display: block;
    font-family: 'Raleway';
}

blockquote span:before {
    content: '- ';
    padding-left: 32px
}

hr {
    height: 1px;
    border: none;
    width: 100%;
    background: #B7B7B7;
}

section{
    border-bottom: 1px solid #b7b7b7;
}

img {
    max-width: 100%;
}

/**
 * Primary CSS
 */

/* Sticky Header */

header.sticky {
    height: 64px;
    z-index: 999;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header.sticky div.content {
    padding: 11px 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

header.sticky .brand {
    height: 50%;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

#mobile-nav.sticky {
    top: 64px;
    z-index: 999;
    -webkit-transition: top .25s ease;
    transition: top .25s ease;
}

/* Top Navigation */

nav.main-nav {
    float: right;
    display: inline-block;
    height: 100%;
}

nav > ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

nav > ul > a {
    display: inline-block;
    padding: 10px;
}

nav.main-nav>ul>a.active,
nav.main-nav>ul>a:hover{
    background: #7a7a7a;
    border-radius: 5px
}

nav.main-nav>ul>a.active,
nav.main-nav>ul>a:hover{
    color: white;
}

/* Mobile Navigation */

#mobile-nav-toggle {
    width: 32px;
    height: 5px;
    display: inline-block;
    float: right;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

#mobile-nav-toggle.open {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}

#mobile-nav-toggle:before {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    top: 0px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#mobile-nav-toggle:after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    bottom: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav#mobile-nav {
    display: none;
}

/* Top Div */

div#top {
    background: #25A3D7;
    background: -webkit-radial-gradient(top left, #83c7e2, #27A3D7, #2859d6);
    background: -o-radial-gradient(top left, #83c7e2, #27A3D7, #2859d6);
    background: -moz-radial-gradient(top left, #83c7e2, #27A3D7, #2859d6);
    background: radial-gradient(top left, #83c7e2, #27A3D7, #2859d6);
    padding: 5%;
    text-align: center;
    color: white;
}

div#top h2 {
    color: white;
}

div#top img {
    min-width: 275px;
    max-width: 350px;
    margin: auto auto 32px;
}

div#top h2 {
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,.25);
    border-bottom: 1px solid rgba(255,255,255,.25);
}

div#top p {
    font-size: 20px
}

div#top img {
    width: 50%;
}

/* Logo Div */

#logo .content {
    text-align: center;
}

#logo img {
    margin: auto;
}

/* Color Table */

#colors {
    text-align: center;
}

#colors table {
    width: 100%;
}

#colors table td:not(.colortable) {
    padding: 32px 0;
}

.colortable {
    height: 192px;
    width: 33.333%;
}

/* Fonts Section */

#fonts h1,
#fonts h2,
#fonts h3,
#fonts h4,
#fonts h5,
#fonts h6 {
    margin: 10px !important;
    padding: 0 !important;
}

#fonts ralewayfont {
    font-family: 'Raleway';
}

#fonts robotofont {
    font-family: 'Roboto';
}

/* Footer */

footer .brand img {
    height: 32px;
    margin-bottom: 16px;
}

footer .social {
    float: right;
    display: inline-block;
}

.social-nav li {
    display: inline-block;
    height: 32px;
}

footer .social img {
    height: 32px;
    opacity: .5;
    line-height: 32px;
}

footer .social img:hover {
    opacity: 1;
}

footer .copyright {
    font-size: 12px;
    display: inline-block;
}

@media only screen and (max-width: 975px) {
    #mobile-nav-toggle {
        display: inline-block;
        margin: 13px 0 0 0;
    }
    
    nav.main-nav {
        display: none;
    }
    
    nav#mobile-nav {
        position: fixed;
        width: 100%;
        top: 96px;
        background: grey;
        text-align: center;
        -webkit-transition: top .25s ease;
        transition: top .25s ease;
    }
    
    #mobile-nav li {
        margin: 0 10px;
    }
    
    footer .social {
        float: none;
        display: block;
    }
    
    footer .copyright {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    .brand span {
        display: none;
    }
    
    .half {
        width: 100%;
    }
}

@media only screen and (max-width: 615px) {
    #colors table {
        font-size: 10px;
    }
}